﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name= "viewport"
          content="width=device-width" />
    <title>Library</title>
</head>
<body>
    <div>
        <h3> </h3>
        <table>
            <tr><td><p><a href="/Home/SortByTitle/ViewBag.BookBusinessModel">Title of book</a></p></td>
            <td><p>Author</p></td>
            <td><p> </p></td>
            </tr>
            @foreach (var item in ViewBag.BookBusinessModel)
            {
            <tr>
                <td><p>@item.Title</p></td>
                @foreach(var author in item.Authors)
                {
                    <td><p>@author</p></td>
                }
            </tr>
            }
        </table>
    </div>
</body>
</html>